doctype html
html
    head
        title todos
    body
        h1 Ajouter un todo
        form(method='POST' action='/todos/')
            div.form-group
                label(for='message') Message:
                input#message.form-control(type='text', placeholder='Message' name='message')
            button.btn.btn-primary(type='submit') Ajouter